<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="serviceName">${env:SERVICE_NAME:-chaos-service}</Property>
        <Property name="logDir">logs</Property>
        <Property name="errorLog">${logDir}/${serviceName}-error.log</Property>
        <Property name="appLog">${logDir}/${serviceName}.log</Property>
    </Properties>

    <Appenders>

        <!-- ========================= -->
        <!-- ERROR LOGS (WITH THROWN) -->
        <!-- ========================= -->
        <RollingFile name="ErrorFile"
                     fileName="${errorLog}"
                     filePattern="${logDir}/${serviceName}-error-%d{yyyy-MM-dd}-%i.log.gz">

            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <JsonLayout
                    compact="true"
                    eventEol="true"
                    stacktraceAsString="true"
                    objectMessageAsJsonObject="true"
                    properties="true"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

        <!-- =============================== -->
        <!-- NON-ERROR LOGS (NO THROWN)     -->
        <!-- =============================== -->
        <RollingFile name="AppFile"
                     fileName="${appLog}"
                     filePattern="${logDir}/${serviceName}-%d{yyyy-MM-dd}-%i.log.gz">

            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>

            <JsonLayout
                    compact="true"
                    eventEol="true"
                    stacktraceAsString="false"
                    objectMessageAsJsonObject="true"
                    properties="true"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="AppFile"/>
        </Root>
    </Loggers>

</Configuration>
